@import "tailwindcss";

@theme {
  --color-void: #0E0E0F;
  --color-maroon: #390007;
  --color-maroon-hover: #52010b;
  --color-mist: #F0F4F5;
  --color-knight: #9BA0AB;
}

body {
  background-color: var(--color-void);
  color: var(--color-mist);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}